<div class="body">
  <%= render "shared/header"%>

  <div class="wrapper">
    <div class="side">
      <div class="new_note">
        <%= link_to "ノートを書く", new_note_path, class: "new_note_btn" %>
      </div>
    </div>
    <div class="main">
      <div class="main_header">
        <div class="goal_field">
          <h1 class="title_goal">Goal</h1>
          <%= form_with model: [@calendar, @goal], local: true do |f| %>
            <% @calendar.goals.each_with_index do |goal, i| %>
              <%= f.text_field :goal_name, data:{id: i} %>
            <% end %>
          <% end %>
          <ul class="goal_list">
            <li class="goal_list_item">Dockerの基礎理解</li>
            <li class="goal_list_item">Golangでアプリ開発</li>
            <li class="goal_list_item">Railsでアプリ開発</li>
          <ul>
        </div>

        <div class="study_time_field">
          <h1 class="study_time_title">Study Time</h1>
          <div class="total_study_time">
            <p class="total_time">Total: 20h</p>
          </div>

          <div class="study_time_average">
            <p>Avarage: 2h</p>
          </div>
        </div>
      </div>
      
      <div class="study_field">
        <h1 class="study_field_title">Study List</h2>
        <ul class="study_list">
          <li class="study_list_item">
            <div class="study_info">
              <div class="study_list_item_date">
                <p>2月1日</p>
              </div>
              <div class="study_hightlight">
                <p>HL:セクション7まで</p>
              </div>
              <div class="study_time">
                <p>Study Time:5時間</p>
              </div>
            </div>

            <div class="study_excerpt">
              <p>Golangの基礎文法</p>
            </div>
          </li>

          <li class="study_list_item">
            <div class="study_info">
              <div class="study_list_item_date">
                <p>2月1日</p>
              </div>
              <div class="study_hightlight">
                <p>HL:セクション7まで</p>
              </div>
              <div class="study_time">
                <p>Study Time:5時間</p>
              </div>
            </div>

            <div class="study_excerpt">
              <p>Golangの基礎文法</p>
            </div>
          </li>
        </ul>
      </div>

    </div>


  </div>

</div>