.body{
  header{
    border-bottom: 1px solid #d7d7d7;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #ffff;
    .study_note_title{
      width: 380px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include title;
    }
    .search_field{
      width: 600px;
      position: relative;
      display: flex;
      align-items: center;

      .fas{
        font-size: larger;
        position: absolute;
        top: 25px;
        left: 10px;
      }
      #search_form{
        width: 500px;
        border: 1px solid gray;
        border-radius:10px;
        display: none;
        #search_input{
          height: 35px;
          width: 450px;
          margin-left: 40px;
          border : none;
          outline: 0;
        }
      }
      #search_result{
        height: 400px;
        width: 500px;
        padding: 7px;
        border: 1px solid gray;
        border-radius: 10px;
        display: none;
        position: absolute;
        top: 65px;
        background-color: #efe8e8;
        overflow: scroll;
      }
    }
    .header_icon_field{
      display: flex;
      align-items: center;
      font-size: larger;
      .search_icon{
        @include btn;
        margin-right: 35px;
        padding: 8px;
      }
      .search_icon:hover{
        background-color: #eaeaea;
        border-radius: 50px;
      }
      .pen_icon{
        color: black;
        padding: 8px;
      }
      .pen_icon:hover{
        background-color: #eaeaea;
        border-radius: 50px;
      }
    }
    .account{
      margin-right: 100px;
      display: flex;
      .account_link{
        display: flex;
        align-items: center;
        .user_avatar{
          height: 50px;
          width: 50px;
          margin-right: 10px;
          border: 1px solid #9e9e9e;
          border-radius: 100px;
        }
        .user_nickname{
          color: black;
        }
        .user_nickname:hover{
          color: #989898;
        }
      }
    }
  }

  .wrapper{
    height: calc(100vh - 70px);
    padding-top: 70px;
    background-color: #ffff;
    .side{
      height: 100%;
      width: 500px;
      .new_note{
        margin-top: 30px;
        text-align: center;
        .new_note_btn{
          padding: 7px 60px;
          border: 1px solid $theme_color;
          border-radius: 25px;
          font-weight: 600;
          transition: 0.3s;
        }
        .new_note_btn:hover {
          background: rgb(131, 209, 250);
          color: white;
        }
      }
    }
    .main{
      height: 100%;
      width: 100%;
      border-left: 1px solid $border_color;
      overflow: scroll;
      .month_field{
        margin-left: 50px;
        margin-top: 50px;
        display: flex;
        font-size: xx-large; 
        .arrow-left{
          color: #7b7b7bc7;
          margin-right: 10px;
        }
        .arrow-right{
          color: #7b7b7bc7;
          margin-left: 4px;
        }
      }
      .main_top{
        display: flex;
        justify-content: space-between;
        .goal_field{
          width: 60%;
          margin: 50px;
          .goal_header{
            display: flex;
            .title_goal{
              margin-right: 15px;
              margin-bottom: 13px;
              @include title;
            }
            .edit_pen{
              .fa-edit{
                @include btn;
                padding: 8px;
              }
              .fa-edit:hover{
                background-color: #eaeaea;
                border-radius: 50px;
              }
            }
          }
          #goal_form{
            width: 70%;
            display: none;
            #input_field{
              .input_item{
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                .goal_input{
                  height: 20px;
                  width: 70%;
                }
                .goal_add_btn{
                  margin-left: 7px;
                }
                .goal_delete_btn{
                  margin-left: 7px; 
                  color: rgb(252, 61, 61);
                  font-weight: bold;
                  outline: none ;
                  @include btn;
                }
              }
            }
            .btn_field{
              margin-top: 10px;
              #add_btn{
                color: $theme_color;
                font-weight: bold;
                border-radius: 10px;
                background-color: white;
                border: 2px solid $theme_color;
                outline: none;
                @include btn;
              }
              #goal_submit_btn{
                color: $theme_color;
                font-weight: bold;
                border-radius: 10px;
                background-color: white;
                border: 2px solid $theme_color;
                outline: none;
                @include btn;
              }
            }
          }
          .goal_list{
            margin-top: 20px;
            .goal_list_item{
              margin-left: 20px;
              margin-bottom: 10px;
              font-size: x-large;
            }
          }
        }
        .study_time_field{
          width: 40%;
          margin-top: 50px;
          margin-right: 170px;
          font-size: x-large;
          .study_time_title{
            @include title;
          }
          .total_study_time{
            margin-top: 20px;
            margin-left: 20px;
            margin-bottom: 10px;
          }
          .study_time_average{
            margin-left: 20px;
          }
        }
      }
      .study_field{
        margin: 70px;
        .study_field_title{
          @include title; 
        }
        .study_list{
          margin-top: 30px;
          margin-left: 20px;
          font-size: large;
          .study_list_item{
            color: black;
            width: 100%;
            padding: 10px;
            margin-bottom: 50px;
            border: 1px solid $border_color;
            box-shadow: 2px 2px 4px gray;
            transition: 0.3s;
            .study_info{
              display: flex;
              justify-content: space-between;
              position: relative;
              .study_hightlight{
                position: absolute;
                left: 120px;
              }
              .study_time{
                margin-right: 70px;
              }
            }
            .study_excerpt{
              margin-top: 20px;
            }
          }
          .study_list_item:hover{
            background-color: rgb(237, 237, 237);
          }
        }
      }
    }
  }
}