.note_show{
  // height: calc(100vh - 70px);
  padding-top: 70px;
  display: flex;
  justify-content: center;
  .note_info{
    height: 700px;
    width: 50%;
    padding: 20px;
    margin-top: 30px;
    border: 3px solid #d0cbcbc7;
    display: flex;
    flex-direction: column;
    .note_show_header{
      display: flex;
      justify-content: space-between;
      .date{
        margin-bottom: 10px;
      }
    }
    .note_content{
      .highlight_field{
        margin-bottom: 15px;
        display: flex;
        font-size: x-large;
        font-weight: 600;
        .highlight_title{
          margin-right: 20px;
        }
      }
      .excerpt_field{
        display: flex;
        font-size: x-large;
        font-weight: 600;
        
        .excerpt_title{
          margin-right: 20px;
        }
      }
      .tag_field{
        margin: 15px 0px;
        display: flex;
        .tag_item{
          margin-right: 10px;
        }
      }
      .body_field{
        height: 100%;
        margin-top: 50px;
        font-size: large;
        overflow: scroll;
        .CodeRay{
          background-color: #c4e4ffba;
          width: 100%;
        }
      }
    }
  }
}
.btn-field{
  padding: 20px;
  display: flex;
  .top-btn{
    width: 5%;
    padding: 10px;
    margin: auto;
    text-align: center;
    color: #ffff;
    background-color: $theme_color;
    border-radius: 3px;
  }
}